* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #5b9df3;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
}

span {
  color: #0a2f61;
}

nav ul {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

#websiteName {
  display: none;
}

section {
  display: none;
}

#logo {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  /*border: 5px solid blue;*/
  display: grid;
  gap: 10px;
  /*background-image: url("./1.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

article {
  background-image: url("./1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.desktop {
  height: 30%;
  width: 80%;
  margin: 50px;
  display: flex;
  justify-content: center;
  /*border: 5px solid green;*/
}

#usp {
  border: 5px solid white;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  text-align: center;
  grid-area: ups;
  margin: 20px;
}

/* Style the search field */
form.example1 input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 80%;
  /*background: #f1f1f1;*/
  border-radius: 25px;
  color: white;
  border: 1px solid #5b9df3;
}

/* Style the submit button */
form.example1 button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #5b9df3;
  border-radius: 25px;
  color: white;
  font-size: 17px;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  border: 1px solid #5b9df3;
}

form.example1 button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example1::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 550px) {
  nav {
    display: none;
  }

  .summary {
    display: none;
  }

  article {
    display: none;
  }

  section {
    height: 50%;
    width: 100%;
    border: 5px solid green;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .mainContainer {
    width: 90%;
    height: 70px;
    color: white;
    padding: 30px;
    border: 3px solid #2453f0;
    background-color: #5b9df3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainContainer:hover {
    background-color: lightseagreen;
  }

  #websiteName {
    display: flex;
    justify-content: center;
    color: #2453f0;
    margin: 20px;
  }

  #usp {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  #logo {
    display: flex;
    justify-content: center;
  }

  img {
    border-radius: 50%;
    border: solid 4px #2453f0;
    height: 60%;
    width: 60%;
  }

  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    /*background: #f1f1f1;*/
    border-radius: 25px;
    color: white;
    border: 1px solid #5b9df3;
  }

  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #5b9df3;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    border: 1px solid #5b9df3;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
}